<main class="container">
  <header>
    <h1>記事一覧</h1>
  </header>
  <%= link_to "新しい記事を作成する", new_article_path, class: "btn btn-default" %>
  <% @articles.each do |article| %>
  <article>
    <h2><%= article.title %></h2>
    <small><%= article.created_at %></small>
    <p><%= article.content %></p>
    <%= link_to "詳細", article, class: "btn btn-default btn-xs" %>
    <%= link_to "編集", edit_article_path(article), class: "btn btn-default btn-xs" %>
    <%= link_to "削除", article_path(article), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %>
  </article>
  <% end %>
</main>