<main class="container">
  <header>
    <h1>記事を投稿する</h1>
  </header>
  <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.label :title, "記事タイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :content, "ブログ本文" %>
      <%= f.text_field :content %>
    </div>

    <%= f.submit "投稿する" %>
  <% end %> 
</main>