<main class="container">
  <header>
    <h1>カテゴリを編集する</h1>
  </header>
  <%= form_for :category, url: category_path, method: :patch do |f| %>
    <% if @category.errors.any? %>
      <div class="bg-danger">
        <p><%= @category.errors.count %>件のエラーのため保存できませんでした</p>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "カテゴリ名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit "追加する", class: "btn btn-primary" %>
    <%= link_to "戻る", categories_path, class: "btn btn-default" %>
  <% end %> 
</main>